<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="6g1+QA60VGQZNUt2lhOFYuqHDGE73726DXOxKZNSGx63hHuFzlL1+zTODII2aAIkhCmCec84JkKpnzXCOaVmeQ==" />
    <title>Welcome | A-Lot-Shop</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://tiy-online-production-herokuapp-com.global.ssl.fastly.net/assets/favicon-77ee7ce61d8b909af9f0775490ee1953843bd1cda601ee32845e2bd2a27833a4.ico">
    <link rel="stylesheet" media="screen" href="https://tiy-online-production-herokuapp-com.global.ssl.fastly.net/assets/web/library.manifest-11e15ae036b971c0f0eb707b1d3c950dfa2cc830ffe0259683595dcd8e78d942.css" />
</head>
<body class=''>
<div class="l-main">
    <header>
        <div class="l-header" data-header>
            <a class="l-header-logo s-beta-logo" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                <img src="https://tiy-online-production-herokuapp-com.global.ssl.fastly.net/assets/newline-logo-5b34a515dd7a73c929bb38721f9076d2bc7d9747fe707fc51cf94286314d2afd.svg">
            </a>  <ul class="l-header-nav xs-hide sm-hide">
            <li class="active"><a class="active" title="Browse Items" href="/">Browse</a></li>
            <li><a title="Register" href="/register">Register</a></li>
        </ul>
        </div>
    </header>
    <div>
        <form style="float:right" action="/login" method="post">
            <input type="text" placeholder="User Name: " name="userName">
            <input type="password" placeholder="Password: " name="password">
            <button type="submit">Login</button>
        </form>
    </div>
    <section class="l-content">
        <div class="max-width-2 mx-auto px2">
            <div class="clearfix pb4">
                <p class="m-lessoncontent-desc-body"><h1 style="text-align: center;">Items for sale</h1></p>
                <article class="m-lessoncontent">

                </article>
            </div>
        </div>
    </section>
    <footer class="l-footer">
        <div class="max-width-4 mx-auto px2">
            &copy; Copyright 2015-2017 - The Iron Yard. Additions, changes, and other such tom foolery made by a student for assignment
        </div>
    </footer>
</div>
<!-- This script handles the sliding menu when you click on user name-->
<script src="https://tiy-online-production-herokuapp-com.global.ssl.fastly.net/assets/library.manifest-04e85156b4d5d33ff285dd0da16d42d06916d439f77d93a62517a3f1d1093e60.js"></script>

</body>
</html>